#nom
{
border-color: #202020;
border-style: none none solid;
}

#nom a
{
color: #202020;
font-family: 'Raleway';
text-decoration: none;
}

#nom.petit
{
text-align: center;
font-size: 30px;
margin-top: 15px;
padding-bottom: 15px;
}

#nom.grand
{
text-align: right;
font-size: 50px;
margin-top: 40px;
}

#barre .onglet
{
border-radius: 0px;
border-style: none;
outline: none;
font-family:'Source Sans Pro';
font-weight: 300;
font-size:23px;
color: #909090;
transition: 0.2s;
background-color: white;
}

#barre .onglet:hover
{
color: #202020;
}

#barre .active > .onglet
{
background-color: #202020;
color: white;
}

#mini-menu
{
text-align: center;
padding: 0px;
}

#mini-menu ul
{
margin: 10px 0px 0px;
padding: 0px;
list-style-type: none;
}

#mini-menu li
{
transition: 0.2s;
}

#mini-menu .mini-title
{
height: 22px;
margin-top: 12px;
}

.mini-onglet
{
display: inline-block;
width: 100%;
height: 28px;
font-family: 'Source Sans Pro';
font-size: 20px;
font-weight: 400;
color: #909090;
text-decoration: none;
}

.mini-onglet:hover,
.mini-onglet:focus
{
cursor: pointer;
color: #202020;
text-decoration: none;
}

.mini-onglet.current
{
color: #202020;
}

#contenu
{
padding: 0px 15px 0px 30px;
}

.deroulable .details
{
display: none;
}

.corps
{
margin: 30px -15px 30px;
padding: 0px;
font-size: 16px;
}

#page
{
border-style: none;
font-family: 'Source Sans Pro';
font-weight: 400;
padding: 0px;
}

h1,h2,h3
{
font-family:'Raleway';
}

.fort
{
font-size:15px;
font-family: 'Source Sans Pro';
font-weight: 700;
}

#page p
{
text-indent:2em;
}

#page p.references
{
text-indent: 0px;
padding-left: 2em;
}

.talk .speaker
{
font-weight: 700;
}

#page .talk p
{
text-indent: 0px;
}

.cv-table
{
display: flex;
margin: 0px 0px 30px;
}

.cv-table > .cv-label
{
width: 3em;
writing-mode: vertical-rl;
transform: rotate(-180deg);
text-align: center;
}

.cv-table dl
{
margin: 0px;
}

@font-face {
font-family: NotoColorEmojiLimited;
unicode-range: U+1F1E6-1F1FF;
src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

i.FRflag:before
{
font-family: NotoColorEmojiLimited;
font-style: normal;
content: '🇫🇷';
}

i.GBflag:before
{
font-family: NotoColorEmojiLimited;
font-style: normal;
content: '🇬🇧';
}

#logo
{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 70px;
padding: 0px 15px 0px;
margin-bottom: 25px;
}

.icones
{
margin-bottom: 8px;
}

.coord
{
text-align: center;
font-family: 'Source Sans Pro';
font-weight: 400;
color: #909090;
}

.glyphicon-rond {
background-color: #909090;
color: white;
padding: 8px;
border-radius: 50%;
margin: 0px 5px 0px;
cursor: pointer;
}

.glyphicon-rond:hover
{
background-color: #202020;
}

#footer
{
padding-bottom: 60px;
}

.deroulable .accroche
{
cursor: pointer;
}

.deroulable .details
{
padding-left: 25px;
color: #909090;
}
