header
{
margin-top: 40px;
}

#nom
{
border-color: #202020;
border-style: none none solid;
}

#nom a
{
color: #202020;
font-family: 'Raleway';
text-decoration: none;
font-size: 50px;
}

#nom.petit
{
text-align: center;
}

#nom.grand
{
text-align: right;
}

#barre .onglet
{
border-radius: 0px;
border-style: none;
outline: none;
font-family:'Source Sans Pro';
font-weight: 300;
font-size:23px;
color: #909090;
transition: 0.2s;
background-color: white;
}

#barre .onglet:hover
{
color: #202020;
}

#barre .active > .onglet
{
background-color: #202020;
color: white;
}

#mini-menu
{
text-align: center;
padding: 0px;
}

#mini-menu ul
{
margin: 10px 0px 0px;
padding: 0px;
list-style-type: none;
}

#mini-menu li
{
height: 40px;
transition: 0.2s;
}

#mini-menu .mini-title
{
height: 30px
}

.mini-onglet
{
display: inline-block;
width: 100%;
height: 100%;
font-family: 'Source Sans Pro';
font-size: 20px;
font-weight: 400;
color: #909090;
text-decoration: none;
}

.mini-onglet:hover,
.mini-onglet:focus
{
cursor: pointer;
color: #202020;
text-decoration: none;
}

.mini-onglet.active
{
color: #202020;
}

#contenu
{
padding: 0px 15px 0px 30px;
}

.deroulable .details
{
display: none;
}

.corps
{
margin: 30px 0px 30px;
padding: 0px;
font-size: 16px;
}

#page
{
border-style: none;
font-family: 'Source Sans Pro';
font-weight: 400;
padding: 0px;
}

h1,h2,h3
{
font-family:'Raleway';
}

.fort
{
font-size:15px;
font-family: 'Source Sans Pro';
font-weight: 700;
}

#page p
{
text-indent:30px;
}

#logo
{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 70px;
padding: 0px 15px 0px;
margin-bottom: 25px;
}

.icones
{
margin-bottom: 8px;
}

.coord
{
text-align: center;
font-family: 'Source Sans Pro';
font-weight: 400;
color: #909090;
}

.glyphicon-rond {
background-color: #909090;
color: white;
padding: 8px;
border-radius: 50%;
margin: 0px 5px 0px;
cursor: pointer;
}

.glyphicon-rond:hover
{
background-color: #202020;
}

#footer
{
padding-bottom: 60px;
}

.deroulable .accroche
{
cursor: pointer;
}

.deroulable .details
{
padding-left: 25px;
color: #909090;
}
