header
{
margin-top: 40px;
}

.div-photo
{
padding-left:0px;
padding-right:0px;
text-align:center;
}

.photo
{
margin-right:20px;
}

.menu > ul
{
}

.nom > a
{
font-family:'Lato';
font-weight:bold;
color:rgb(51, 122, 183);
text-decoration:none;
font-size:50px;
}

header .nav-tabs.nav-justified > li > a,
header .nav-tabs.nav-justified > li > a:hover,
header .nav-tabs.nav-justified > li > a:focus,
header .nav-tabs.nav-justified > .active > a,
header .nav-tabs.nav-justified > .active > a:hover,
header .nav-tabs.nav-justified > .active > a:focus
{
border-radius: 0px;
border-width: 1px;
border-color: black;
border-style: solid none none;
outline: none;
font-family:'Linux Biolinum';
font-size:20px
}

header .nav-tabs.nav-justified > .active > a
{
background-color: #025FBD;
color:white;
}

.nav-tabs > li > a:hover
{
background-color: #87C2FF;
}

.corps
{
margin-top:30px;
padding:0px;
}

.corps > .contenu
{
padding: 0px 15px 15px;
border-radius: 15px 15px 0px 0px;
border-width: 1px;
border-color: black;
border-style: solid solid none;
}

h2,h3
{
font-family:'Linux Biolinum';
}

.fort
{
font-size:15px;
font-weight:bold;
}

.corps > .contenu p
{
text-indent:30px;
}

.corps > footer
{
background-color: #87C2FF;
padding:15px;
border-radius: 0px 0px 15px 15px;
border-width: 1px;
border-color: black;
border-style: none solid solid;
display:flex;
align-items:center;
}

footer > .ur1
{
text-align:left;
}

footer > .coord
{
text-align:center;
}

footer > .irmar
{
text-align:right;
}
